header {
    background-color: #313C4F;
    color: white;
}

.position {
    color: #44969A;
}

nav {
    background-color: #222A33;
    display: flex;
    justify-content: center;
    padding: 5px;
}

nav p {
    display: inline;
    padding: 2px 50px;
    margin: 2px 0px;
}

h2 {
    color: #44969A;
    text-decoration: underline;
}

.skills_list p {
    display: inline;
    background-color: #808080;
    border-radius: 7px;
    padding: 5px 15px;
    margin: 0px 7px;
    color: white;
}

.language_level {
    color: #44969A;
    font-style: italic;
}

.awards_list {
    list-style-type: none;
}


.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.column1,
.column2 {
    flex: 1;
}