body {
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
}

.header {
    display: flex;

    padding: 10px;
}

.about_section,
.picture {
    flex: 1/3;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 70%;
    object-fit: cover;
    border: 4px solid #44969A;
    margin: 15px;
}

header {
    background-color: #313C4F;
    color: white;
}

.position {
    color: #44969A;
}

nav {
    background-color: #222A33;
    display: flex;
    justify-content: center;
    padding: 5px;
}

nav p {
    display: inline;
    padding: 2px 50px;
    margin: 2px 0px;
}

h2 {
    color: #44969A;
    text-decoration: underline;
}

.skills_list p {
    display: inline;
    background-color: #808080;
    border-radius: 7px;
    padding: 3px 3px;
    margin: 3px 3px;
    color: white;
    line-height: 200%;
}

.languages p {
    display: inline;
    line-height: 5px;
}

.language_level {
    color: #44969A;
    font-style: italic;
}

.awards p {
    line-height: 5px;
}


.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.column1,
.column2 {
    flex: 1;
}